DEBUG=True
SECRET_KEY=
ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=
CSRF_TRUSTED_ORIGINS=
TIME_ZONE=Europe/Madrid

DB_NAME=postgres
DB_USER=postgres.okjaidbmmvyzxsjwsabc
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_SSLMODE=
DB_CONN_MAX_AGE=

JWT_ACCESS_MINUTES=
JWT_REFRESH_DAYS=

FRONTEND_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_CALENDAR_SCOPES=
